.literaryhub-bgimg {

    background: #000;
    background-image: url("../../Assets/imagecustomized.jpg");
    background-position: initial;
    background-size: cover;
}

.literaryhub-blackdrop {
    background-color: #000000ab;
    height: 250px;

}


.literaryhub-title {
    font-size: 3.5rem;
    font-family: "Merriweather", serif;
    font-weight: 400;
    color: white;
    padding-top: 7rem;
    text-align: center;
}

.literaryhub-content{

margin-left: 6rem;
margin-right: 6rem;
margin-top: 4rem;
margin-bottom: 4rem;
border-radius: 1rem;
background-color: #D4A373;
}
.literaryhub-content h2{
    font-size: 2.5rem;
    font-family: "Merriweather", serif;
    font-weight: 400;
    color: white;
    padding-top: 3rem;
    text-align: center;
}

.landingpage-article-container {
    border-radius: 1rem;
    border: solid 2px #D4A373;
    /* background-color: white; */
    margin-left: 3rem;
    margin-right: 3rem;
 padding-left: 2rem;
 padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* .landingpage-article-container:hover{
    background-color: #D4A373;

} */


/* .landingpage-article-img{
    height: 8rem;
    width: 8rem;
    background-color: #6E7E4B;
    padding: 1.5rem;
    text-align: center;
    border-radius: .4rem;
    margin-bottom: 2rem;

} */

.article-content-card{
        background-color: white;
        margin-left: .5rem;
        margin-right: .5rem;
        border-radius: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
}
.literaryhub-cover-img {
    height: 10rem;
    width: 12rem;
    /* background-color: #6E7E4B; */
    padding: .5rem;
    text-align: center;
    border-radius: 1rem;
    object-fit: cover;
    /* border-radius: 1.3rem; */
}
.landingpage-article-col {
    align-content: center;
    
}

.landingpage-article-description {
    font-size: 1rem;
    text-align: justify;
    font-family: "Teachers", sans-serif;
    margin-left: 1rem;
}
.landingpage-article-button {
    background-color: #6A1B1B;
    color: white;
    border: none;
    margin-left: 1rem;
    border-radius: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 15rem;
    text-align: center;
    float: left;
}












.literaryhub-hookredirect{

    margin-bottom: 6em;
    margin-bottom: 0rem !important;
    background-color: #000;
    background-image: url("../../Assets/imagepplbehindredirect.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    /* background-attachment: fixed; */
    background-position: center;
    /* border-radius: 2rem; */
    font-family: 'Alata', sans-serif;

}


.literaryhub-hookredirect-content {
    background-color: #000000d0;
    padding: 6em;
    align-items: center;
    width: 100%;
    --bs-gutter-x: 0rem !important;
}

.literaryhub-hookredirect-content p {
    font-size: 3.5rem;
    font-family: "Merriweather", serif;
    font-weight: 400;
    color: white;
    text-align: center;
}

.literaryhub-hookredirect-button {
    text-align: center;
}

.literaryhub-hookredirect-button button {
    background-color: #6A1B1B;
    color: white;
    border: none;
    border-radius: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 15rem;
    text-align: center;

}
@media only screen and (max-width: 992px) {
    .literaryhub-bgimg {
        /* object-fit: cover; */
        background-position: top;
        background-size: cover;
    }

    .literaryhub-blackdrop {
        background-color: #000000ab;
        height: 200px;
    }

    .literaryhub-title {
        font-size: 2rem;
        padding-top: 4.5rem;
    }
    .literaryhub-hookredirect-content {
        background-color: #000000d0;
        padding: 2rem;
        align-items: center;
        width: 100%;
        --bs-gutter-x: 0rem !important;
    }

    .literaryhub-hookredirect-content p {
        font-size: 2.5rem;
    }

    .literaryhub-hookredirect-button button {
        border-radius: .5rem;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        font-size: 1rem;
    }
}