
.card-content p {
    text-align: left !important;
    margin-bottom: 0;
}

.level1-card {

    width: 21rem;
    background: white;
    color: black;
}
.level1-card:hover{
    background: #0F5978;
    color: white;
}

.packageall {
    justify-content: space-around;
}

.level1-button {
    background:  #0F5978;
    color: white;
    font-weight: 600;
    border: 2px solid white;
    border-radius: .4rem;
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.level1-button:hover{
    background: white;
    color: black;
}
.level1-title {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 0 !important;
}
.level1-description {
    font-size: .8rem;
}

.level1-Price {
    padding-top: 1.2rem;
   
    font-size: 3rem;
    font-weight: 700;

}

.package-features {
    margin-top: 1rem;
    text-align: left;
    font-size: 1.2rem;
}

@media only screen and (max-width: 992px) {

    .level1-card {
        width: 16rem;
    }

    .level1-title {
        font-size: 1.5rem;
    }

    .level1-Price {
        font-size: 2rem;
    }

    .level1-description {
        font-size: .7rem;
    }

    .level1-button {
    
        font-size: 1rem;
        border-radius: 1rem;
        width: 100%;
        height: 2.5rem;
        margin-top: .7rem;
        margin-bottom: 1rem;
    }
    .package-features {
        margin-top: .5rem;
        text-align: left;
        font-size: .8rem;
    }
}