
.Contactus{
    margin-left: 2rem;
    margin-right: 2rem;
}

.contact-left-image img{
    
    height: 100%;
    width: 100%;
    padding-top: 6rem;
}


@media only screen and (max-width: 992px) {
    .Contactus{
        margin-left:2rem ;
        margin-right: 2rem;
    }
}