
.Contactus{
    margin-left: 2rem;
    margin-right: 2rem;
}

.contact-left-image img{
    margin-top: 4em;
    align-items: center;
    margin: auto;
    height: 40rem;
    width: 40rem;
    overflow: hidden;
}


@media only screen and (max-width: 992px) {
    .Contactus{
        margin-left:2rem ;
        margin-right: 2rem;
    }
}