.Detailedabout{
    margin-top: 2rem;
    margin-left: 8rem;
    margin-right: 8rem;
}
.Detailedabout-title-top{
    background-image: url("../assets/customized.jpg");
background-repeat: no-repeat;
background-size: cover;


}
.Detailedabout-title{
    text-align: center;
    color: white;
    font-size: 4rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-color: rgba(0, 0, 0, 0.575);
    font-family: 'Alata', sans-serif;
}
.detailedabout-subtitle{
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: justify;
    font-family: 'Alata', sans-serif;
}
.characters{
    margin-top: 4rem;
}
.detailedabout-companyname{
    font-size: 2.3rem;
    font-weight: 400;
}