.Detailedabout{
    margin-left: 4rem;
    margin-right: 4rem;
}
.detailedabout-subtitle{
    font-size: 1.2rem;
    font-weight: 400;
    text-align: justify;
}
.characters{
    margin-top: 4rem;
}