
.FAQ{
    
    padding-bottom: 5rem;
    padding-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.faq-animation {
    margin-top: 4em;
    align-items: center;
    margin: auto;
    height: 37rem;
    width: 34rem;
    overflow: hidden;
}
@media only screen and (max-width: 992px) {
    .faq-animation {
        height: 19rem;
        overflow: hidden;
        width: 17rem;
    }
    .FAQ{
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        padding-bottom: 1rem;
        padding-top: 0rem;
    }
    .title{
        font-size: 1.5rem;
    }
}