.literaryhub-bgimg {

    background: #000;
    background-image: url("../Assets/imagecustomized.jpg");
    background-position: initial;
    background-size: cover;
}

.literaryhub-blackdrop {
    background-color: #000000ab;
    height: 250px;

}


.literaryhub-title {
    font-size: 3.5rem;
    font-family: "Merriweather", serif;
    font-weight: 400;
    color: white;
    padding-top: 7rem;
    text-align: center;
}

.literaryhubSubmission-content-bg {
    background-color: #FAEBD7;
}

.literaryhubSubmission-content {
    margin-left: 10rem;
    margin-right: 10rem;
}

.literaryhubSubmission-subcontent-description{

        font-size: 1.4rem;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 3rem;
        font-family: "Teachers", sans-serif;
    
}

.form-select{
    width: 30rem;
    line-height: 1.7rem;
    float : inline-end;
    border: solid 1px #D4A373; 
    /* color: #D4A373; */
}
.form-control{
    width: 30rem;
    line-height: 1.7rem;
    float : inline-end;

}

.literaryhubSubmission-submit-button {
    background-color: #6A1B1B;
    color: white;
    border: none;
    border-radius: .5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 15rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    /* text-align: center; */
}

.literaryhubSubmission-content button{
    text-align: center;
}