.Packageoverview{
    margin-top: 5rem;
    margin-left: 6rem;
    margin-right: 6rem;
}
.package-subtitle{
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    text-align: center;
    font-family: 'Alata', sans-serif;

}
.package-form button{
    margin: 1rem;
    border-radius: 2rem;
}
.package-form button.selected{
    
    background: #0F5978;
    color: white; 
    
}
.package-form{
    text-align: center;
    margin-bottom: 2.5rem;

}

.package-form button{
    text-align: left;
    align-self: baseline;
    font-size: 1.5rem;
    color: rgb(165, 165, 165);
    border: 1px solid black;
    padding-left: 3em;
    padding-right: 3em;
    background: none;
}

@media only screen and (max-width: 992px){
    
    .Packageoverview{
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
    }
    .package-subtitle{
        font-size: .7rem;
        margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: .5rem;
    }
    .package-form button{
        font-size: 1rem;
        padding-left: 1.5em;
        padding-right: 1.5em;
      justify-content: space-around;
       
     
    }
    .package-form{
        text-align: center;
        margin-bottom: 1.5rem;
    
    }
}