.serviceweoffertitle {
    font-family: 'Alata', sans-serif;
    text-align: left;
    font-size: 3rem;
    font-weight: 700;
}

.service {
    margin-top: 3rem;
}
.serviceweoffer{
    background-image: url("../assets/bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.serviceweoffer1 {
    margin-left: 6rem;
    margin-right: 6rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.service-card-icon {
    height: 6em;
    width: 6em;
    align-items: center;
}

.service-title {
    font-family: "space grotesk", sans-serif;
    font-size: 1.4rem;
    margin-top: 1rem;
}

.servicerow {
    justify-content: center;
}

.service-dash hr {
    border: 2px solid red;
    border-radius: 1rem;
    width: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.serviceweoffer a {
    text-decoration: none;
}

.Service-card {
    margin-left: 2rem;
    margin-right: 2rem;
    /* width: 16rem; */
    height: 12rem;
    text-align: center;
    box-shadow: 2px 5px 24px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 5px 24px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 5px 24px -7px rgba(0, 0, 0, 0.75);
}

.Service-card:hover {
    background: #0F5978;
    color: white;
}
a{
    text-decoration: none;
}

@media only screen and (max-width: 992px) {
    .serviceweoffer{
        
        background: none;
    }
    .serviceweoffer1 {
        margin-left: 2rem;
        margin-right: 2rem;
        padding-top: 0rem;
        padding-bottom: 2rem;
    }

    .serviceweoffertitle {
        font-size: 1.5rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .service {
        margin-top: 2rem;
    }

    .Service-card {

        width: 20rem;
        height: 10rem;
        text-align: center;
    }

    .service-card-icon {
        height: 5rem;
        width: 5rem;
        border-radius: 100px;
        background: white;
    }

    .service-title {
        font-family: 'Alata', sans-serif;
        font-size: 1rem;
        margin-top: .7rem;
        margin-bottom: .2rem !important;

    }
}